<!DOCTYPE html>
<html>
<head> 
    <title> Add Your Record </title>
    <style>
        body  {
            font-size: 20px;
            font-family: sans-serif;
            line-height: 1.6;
            padding: 20px;
        }
        input {
            font-size: 18px;
            padding: 6px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2> ADD YOUR RECORD</h2>
    <form method="POST" action="/addRecord">
        <text>  task: </text>
        <input type="text" name="task" placeholder="oil change">
        <text> mileage: </text>
        <input type="number" name="mileage" placeholder="50000">
        <text> miles </text>
        <text> date: </text>
        <input type="date" name="date" placeholder="01/01/2025">
        <input type="submit", value="submit">
    </form>
</body>
</html>


